/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

i.medium {
  font-size: 4rem !important;
  color: #014166 ;
}

nav a :hover{
  color: #fff !important;
}


i.small {
  color: rgba(44, 0, 46, 0.74);
}



.waves-effect{
  background-color: rgb(226, 43, 98) !important;
}


.center, .center-align {
  text-align: left;
  font-size: medium;
  font-weight: 700;
}

.plus {
  display: flex;
}
.plus a {
  margin-top: 2.3rem;
}

.btn-floating i {
  color: red;
  font-size: 2rem;
  line-height: 60px !important;
}


h2{
  display: flex;
  padding-left: 20px;
}

.red {
  background-color: #ffffff !important;
}

textarea {
  width: 100%;
  height: 200px;
}


h3 {
  font-size: 1rem;
  line-height: 120%;
}